# Ignore the wifi config details
/main/config/wifi_cfg.json

# Ignore the deploy folder and contents
/deploy

# Example Module
# Ignore contents of submodule directory  
# /main/example_module/**
# Except the .gitkeep to recreate the 'empty' directory.
# !/main/example_module/.gitkeep

# The ota_updater needs to be captured by git such that there is a starting updater available.

# Submodules
# Ignore contents of submodule directory
# Except the .gitkeep to recreate the 'empty' directory.

# mainloop Module
/main/mainloop/**
!/main/mainloop/.gitkeep

# pybd_expansion Module
/main/pybd_expansion/**
!/main/pybd_expansion/.gitkeep

# sensor_payload Module
/main/sensor_payload/**
!/main/sensor_payload/.gitkeep

# uac_localisation Module
/main/uac_localisation/**
!/main/uac_localisation/.gitkeep

# uac_modem Module
/main/uac_modem/**
!/main/uac_modem/.gitkeep

# uac_network Module
/main/uac_network/**
!/main/uac_network/.gitkeep

